body {
  font-family: "Roboto", sans-serif;
}
.weatherWindow {
  height: 500px;
  width: 650px;
  background-color: rgba(235, 232, 232, 0.75);
}
input {
  width: 300px;
}
.searchBtn {
  position: relative;
  right: 60px;
  top: 6px;
  cursor: pointer;
}
.humidity,
.wind {
  font-size: 13px;
}
.mainContainer {
  background-image: url("https://images.unsplash.com/photo-1671629075554-c6074e48cdca?crop=entropy&cs=tinysrgb&fm=jpg&ixid=MnwzOTM3MTN8MHwxfHJhbmRvbXx8fHx8fHx8fDE2NzIzMjk4ODE&ixlib=rb-4.0.3&q=80");
  background-size: cover;
  background-repeat: no-repeat;
}
.dayilyCont {
  height: 100px;
}
.imgSize {
  margin-top: 5px;
  width: 45px;
  height: auto;
}
